mlflow>=3.3.2
databricks-ai-bridge>=0.12.0
databricks-langchain[memory]>=0.13.0
databricks-mcp
databricks-vectorsearch
langchain-mcp-adapters==0.1.14 
# if anthropic models
# https://github.com/langchain-ai/langchain-mcp-adapters/issues/397
databricks-sdk 
langchain-core>=1.2.7
langgraph-supervisor
# langgraph-checkpoint
# langgraph-checkpoint-postgres
mcp>=1.22.0
openai==2.14.0
# psycopg==3.2.13
# psycopg-binary==3.2.13
# psycopg-pool==3.2.8